@import "styles/variables";

.container {
  .settings {
    margin-bottom: 25px;

    .settingsInner {
      display: flex;

      .start {
        input {
          outline: none;
          color: $textColor;
          padding: 8px 15px;
          background-color: transparent;
          font-size: 15px;
          border-radius: 10px;
          font-style: normal;
          font-weight: 400;
          margin-right: 15px;
          border: 1px solid #353535;
          width: 226px;

          &::placeholder {
            color: $textColor;
          }
        }
      }
    }
  }

  .cards {
    display: grid;
    justify-content: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .notActive {
    .info {
      display: none;
    }
  }

  .active {
    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;
    }

    .settings {
      display: none;
    }
  }
}
