@import "variables";

.content {
  position: relative;
  .activeGame {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .text {
      font-family: "Nunito", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 41px;
      color: $textColor;
    }

    .image {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
