@import "variables";

@mixin initialStyle {
  color: $textColor;
  padding: 8px 15px;
  font-size: 15px;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  margin-right: 40px;
  background-color: transparent;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.button {
  @include initialStyle;
  border: none;
}

.info {
  @include initialStyle;
}

.active {
  color: $activeTextColor;
  background-color: $backgroundColorButton;
}
