.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  animation: animation-info 1s ease-in-out;
}

.none {
  display: none;
}

@keyframes animation-info {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
